.sb-flex-container {
    display: flex; 
    justify-content: space-between;
}

.sb-status-indicator {
    border-left: 2px dashed #353935; 
    height: 20px; 
    position:absolute; 
    left: 16px;
}

.sb-activated-not {
    display: inline-flex;
    border: 1px solid #D83874; 
    color: #D83874; 
    padding: 10px; 
    border-radius: 20px; 
    font-weight: bold; 
}

.sb-activated-success {
    display: inline-flex;
    border: 1px solid green; 
    color: green; 
    display: inline-block; 
    padding: 10px; 
    border-radius: 20px; 
    font-weight: bold;
}

.form_note_shipbubble_api_key {
    margin-top: 10px;
}

.form_note_shipbubble_api_key.error {
    color: red;
}

.form_note_shipbubble_api_key.success {
    color: green;
}

.form_note_shipbubble_api_key.validating {
    color: black;
}

.input-error {
    border: 1px solid red !important;
}

.input-valid {
    border: 2px solid green !important;
}

.input-validating {
    border: 1px solid black;
}